<header>
  <h1>Homestead Jewels</h1>
</header>
<main>
  <h2>Welcome to Homestead Jewels</h2>
  <p>Discover our exquisite collection of handmade jewelry.</p>

  <h3>Items for Sale</h3>
  
  <div class="items">
    <!-- Item 1 -->
    <div class="item">
      <h4>Blue Pearl Flower</h4>
      <img src="/images/2.jpeg" alt="Serene Blossom Bracelet">
      <p>A beautiful necklace combining pearls and intricate blue and white bead flowers, evoking the serene beauty of the ocean.</p>
      <p>$30.00</p>
    </div>
    <!-- Item 2 -->
    <div class="item">
      <h4>Serene Blossom Bracelet</h4>
      <img src="/images/1.jpeg" alt="Serene Blossom Bracelet">
      <p> A set of bracelets featuring a mix of white and green beads with a charming daisy charm.</p>
      <p>$30.00</p>
    </div>
    <!-- Item 3 -->
    <div class="item">
      <h4>Golden Harmony Bracelet</h4>
      <img src="/images/3.jpeg" alt="Golden Harmony Bracelet">
      <p>A pair of bracelets combining gold beads and freshwater pearls, creating a delicate and harmonious look.</p>
      <p>$40.00</p>
    </div>
  </div>

</main>

<footer>
  <p>&copy; 2024 Homestead Jewels. All rights reserved.</p>
</footer>